.wrapper article{
	width: auto;

	display: block;

	padding: 5px 4% 20px 4%;

	border-bottom: #e2e2e2 3px solid;

	transition-property: padding, box-shadow;
	transition-duration: 0.2s, 1s;
}
@media (max-width: 700px){
	.wrapper article{
		padding: 5px 4% 20px 2%;
	}
}

.wrapper article:hover {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.1) inset;
	transition-duration: 0.2s, 0.2s;
}

.wrapper article:last-child{
	border-bottom: none;
}
.wrapper article:first-child{
	border-bottom: #e2e2e2 3px solid;
}

.wrapper article .date{
	display: inline-block;

	font-size: 14px;
	float: right;

	text-align: right;
}
.wrapper article a h3{
	display: inline;
}


.wrapper article h3{
	margin-top: 0px;
	margin-bottom: 0px;
}
.wrapper article a{
	text-decoration: none;
}


.wrapper article .author{
	grid-row-start: 2;

	margin-left: 5px;
	margin-top: -5px;

	color: #797979;

	grid-column-start: 1;
	grid-column-end: span 2;
}


.wrapper article p{
	grid-row-start: 3;

	grid-column-start: 1;
	grid-column-end: span 2;

	margin-top: 2px;
	margin-bottom: 2px;
}

.tags{
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: span 2;

	color: #24292e;

	text-align: right;
}
.tags tag{
	font-weight: 800;
	font-size: 12px;

	color: #24292e;

	margin: 0px;
	margin-left: 5px;

	padding: 2px;
}
.tags tag:hover{
	background-color: rgba(0, 0, 0, 0.05);
}
.tags a {
	text-decoration: none;
}

.wrapper article .tags{
	margin-top: 10px;
}